@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-ExtraBold.eot');
    src: local('Times LT Std Extra Bold'), local('TimesLTStd-ExtraBold'),
        url('TimesLTStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-ExtraBold.woff2') format('woff2'),
        url('TimesLTStd-ExtraBold.woff') format('woff'),
        url('TimesLTStd-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-SemiboldItalic.eot');
    src: local('Times LT Std Semibold Italic'), local('TimesLTStd-SemiboldItalic'),
        url('TimesLTStd-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-SemiboldItalic.woff2') format('woff2'),
        url('TimesLTStd-SemiboldItalic.woff') format('woff'),
        url('TimesLTStd-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-Roman.eot');
    src: local('Times LT Std Roman'), local('TimesLTStd-Roman'),
        url('TimesLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-Roman.woff2') format('woff2'),
        url('TimesLTStd-Roman.woff') format('woff'),
        url('TimesLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-Bold.eot');
    src: local('Times LT Std Bold'), local('TimesLTStd-Bold'),
        url('TimesLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-Bold.woff2') format('woff2'),
        url('TimesLTStd-Bold.woff') format('woff'),
        url('TimesLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-Italic.eot');
    src: local('Times LT Std Italic'), local('TimesLTStd-Italic'),
        url('TimesLTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-Italic.woff2') format('woff2'),
        url('TimesLTStd-Italic.woff') format('woff'),
        url('TimesLTStd-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-Phonetic.eot');
    src: local('Times LT Std Phonetic'), local('TimesLTStd-Phonetic'),
        url('TimesLTStd-Phonetic.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-Phonetic.woff2') format('woff2'),
        url('TimesLTStd-Phonetic.woff') format('woff'),
        url('TimesLTStd-Phonetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-BoldItalic.eot');
    src: local('Times LT Std Bold Italic'), local('TimesLTStd-BoldItalic'),
        url('TimesLTStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-BoldItalic.woff2') format('woff2'),
        url('TimesLTStd-BoldItalic.woff') format('woff'),
        url('TimesLTStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times LT Std';
    src: url('TimesLTStd-Semibold.eot');
    src: local('Times LT Std Semibold'), local('TimesLTStd-Semibold'),
        url('TimesLTStd-Semibold.eot?#iefix') format('embedded-opentype'),
        url('TimesLTStd-Semibold.woff2') format('woff2'),
        url('TimesLTStd-Semibold.woff') format('woff'),
        url('TimesLTStd-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'Typography Times Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Typography Times Regular'), url('Typography Times Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Typography Times Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Typography Times Bold Italic'), url('Typography Times Bold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Typography Times Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Typography Times Bold'), url('Typography Times Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Typography Times Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Typography Times Italic'), url('Typography Times Italic.woff') format('woff');
    }




@font-face {
    font-family: 'GT Zirkon Book';
    src: url('GTZirkon-Book.eot');
    src: local('GT Zirkon Book'), local('GTZirkon-Book'),
        url('GTZirkon-Book.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Book.woff2') format('woff2'),
        url('GTZirkon-Book.woff') format('woff'),
        url('GTZirkon-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT Zirkon Book';
    src: url('GTZirkon-BookItalic.eot');
    src: local('GT Zirkon Book Italic'), local('GTZirkon-BookItalic'),
        url('GTZirkon-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-BookItalic.woff2') format('woff2'),
        url('GTZirkon-BookItalic.woff') format('woff'),
        url('GTZirkon-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}





/* --- */
@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Thin.eot');
    src: local('GT Zirkon Thin'), local('GTZirkon-Thin'),
        url('GTZirkon-Thin.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Thin.woff2') format('woff2'),
        url('GTZirkon-Thin.woff') format('woff'),
        url('GTZirkon-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-ThinItalic.eot');
    src: local('GT Zirkon Thin Italic'), local('GTZirkon-ThinItalic'),
        url('GTZirkon-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-ThinItalic.woff2') format('woff2'),
        url('GTZirkon-ThinItalic.woff') format('woff'),
        url('GTZirkon-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Italic.eot');
    src: local('GT Zirkon Italic'), local('GTZirkon-Italic'),
        url('GTZirkon-Italic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Italic.woff2') format('woff2'),
        url('GTZirkon-Italic.woff') format('woff'),
        url('GTZirkon-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Light.eot');
    src: local('GT Zirkon Light'), local('GTZirkon-Light'),
        url('GTZirkon-Light.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Light.woff2') format('woff2'),
        url('GTZirkon-Light.woff') format('woff'),
        url('GTZirkon-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Regular.eot');
    src: local('GT Zirkon Regular'), local('GTZirkon-Regular'),
        url('GTZirkon-Regular.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Regular.woff2') format('woff2'),
        url('GTZirkon-Regular.woff') format('woff'),
        url('GTZirkon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-BoldItalic.eot');
    src: local('GT Zirkon Bold Italic'), local('GTZirkon-BoldItalic'),
        url('GTZirkon-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-BoldItalic.woff2') format('woff2'),
        url('GTZirkon-BoldItalic.woff') format('woff'),
        url('GTZirkon-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-MediumItalic.eot');
    src: local('GT Zirkon Medium Italic'), local('GTZirkon-MediumItalic'),
        url('GTZirkon-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-MediumItalic.woff2') format('woff2'),
        url('GTZirkon-MediumItalic.woff') format('woff'),
        url('GTZirkon-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Medium.eot');
    src: local('GT Zirkon Medium'), local('GTZirkon-Medium'),
        url('GTZirkon-Medium.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Medium.woff2') format('woff2'),
        url('GTZirkon-Medium.woff') format('woff'),
        url('GTZirkon-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-LightItalic.eot');
    src: local('GT Zirkon Light Italic'), local('GTZirkon-LightItalic'),
        url('GTZirkon-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-LightItalic.woff2') format('woff2'),
        url('GTZirkon-LightItalic.woff') format('woff'),
        url('GTZirkon-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Bold.eot');
    src: local('GT Zirkon Bold'), local('GTZirkon-Bold'),
        url('GTZirkon-Bold.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Bold.woff2') format('woff2'),
        url('GTZirkon-Bold.woff') format('woff'),
        url('GTZirkon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'GT Zirkon Ultra';
    src: url('GTZirkon-UltraLight.eot');
    src: local('GT Zirkon Ultra Light'), local('GTZirkon-UltraLight'),
        url('GTZirkon-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-UltraLight.woff2') format('woff2'),
        url('GTZirkon-UltraLight.woff') format('woff'),
        url('GTZirkon-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Zirkon Ultra';
    src: url('GTZirkon-UltraLightItalic.eot');
    src: local('GT Zirkon Ultra Light Italic'), local('GTZirkon-UltraLightItalic'),
        url('GTZirkon-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-UltraLightItalic.woff2') format('woff2'),
        url('GTZirkon-UltraLightItalic.woff') format('woff'),
        url('GTZirkon-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}





@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-Black.eot');
    src: local('GT Zirkon Black'), local('GTZirkon-Black'),
        url('GTZirkon-Black.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-Black.woff2') format('woff2'),
        url('GTZirkon-Black.woff') format('woff'),
        url('GTZirkon-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'GT Zirkon';
    src: url('GTZirkon-BlackItalic.eot');
    src: local('GT Zirkon Black Italic'), local('GTZirkon-BlackItalic'),
        url('GTZirkon-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GTZirkon-BlackItalic.woff2') format('woff2'),
        url('GTZirkon-BlackItalic.woff') format('woff'),
        url('GTZirkon-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

